@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand');

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  width: 70%;
  margin: 0 auto;
  background-color: #78909C;
}

/* Text */

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 5vw;
  text-align: center;
  color: #273646;
  text-shadow: 0 1px 2px #1c2733;
}

button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 8vw;
  font-size: 4vw;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px #1c2733;
  background: #2c3e50;
  border: 0;
  border-bottom: 0.5vw solid #22303f;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
}

button:hover {
  background: #273646;
  border-bottom: 0.5vw solid #1c2733;
}

button:active {
  top: 0.2vw;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#phraseDisplay {
  display: block;
  background-color: #E0E0E0;
  height: 13vw;
  padding: 3vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 3vw;
}
