[submodule "legacy/themes/osprey"]
  path = themes/osprey
  url = https://github.com/tomanistor/osprey.git
[submodule "legacy/static/octodrummer"]
  path = static/octodrummer
  url = https://github.com/tomanistor/octodrummer.git
[submodule "legacy/static/to-do-list"]
  path = static/to-do-list
  url = https://github.com/tomanistor/vuejs-todo.git
[submodule "legacy/public/octodrummer"]
  path = public/octodrummer
  url = https://github.com/tomanistor/octodrummer.git
[submodule "legacy/public/to-do-list"]
  path = public/to-do-list
  url = https://github.com/tomanistor/vuejs-todo.git
